<ion-header>
  <ion-toolbar>
    <ion-title>Registro de Usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="persona.nombre">Nombre:</ion-input>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input [(ngModel)]="persona.correo">Correo:</ion-input>
      </ion-col>

    </ion-row>
    <ion-row>
      <ion-col>
        <ion-input type="password" [(ngModel)]="persona.password">Password:</ion-input>
      </ion-col>

    </ion-row>

    <ion-row>
      <ion-col><ion-button expand="block" color="danger" (click)="crearUsuario()">Crear Cuenta</ion-button> </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
